html {
	background-color: orange;
}

a:link, a:visited {
  background-color: white;
  color: orange;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

a:hover, a:active {
  background-color: white;
}

body {
  text-align: center;
}


div {
	background-color: white;
	position: relative;
	padding-top: 8px;
}

@media only screen and (max-width: 768px) {
/*[class*="col-"] {
    width: 100%;
  }*/
}